= render partial: "./tops/header"
.eyecatch.new
  .inner.new
    .left
      %h1
        世界中の旅人をスキル、
        %br
          位置情報で探してシゴトを依頼
      %p 海外や地方に関するシゴトならSAGOJOへ
      %p
        %a.btn
          無料で旅人を検索する
    .right
      %img.pc(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/eye_right.png?201809141247")
.main-content
  .main
    %article
      %section.category
        .inner
          %h2
            様々なシゴトを、
            %br.sp
              各分野のプロフェッショナルに依頼
          %ul
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_contents.svg?201809141247")
              %p
                記事・写真・
                %br.sp
                  動画制作
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_instagram.svg?201809141247")
              %p
                SNS
                %br.sp
                  プロモーション
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_promotion.svg?201809141247")
              %p
                地域
                %br.sp
                  プロモーション
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_research.svg?201809141247")
              %p 調査・情報収集
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_sales.svg?201809141247")
              %p 営業代行
      .business_user_map_area
        .inner
          .user_map_txt
            %h2
              世界中に点在する旅人に依頼できるから
              %br
                移動経費は0円〜!
            .exsample_user
              .exsample_user_inner_txt
                %p.check
                  = fa_icon "check"
                  旅行が大好きなユーザー
                %p.check
                  = fa_icon "check"
                  すでに地方や海外に
                  %br.sp
                    旅行予定のあるユーザー
                %p.check
                  = fa_icon "check"
                  地方や海外に在住のユーザー
                %p
                  に依頼できるので、
                  %br.sp
                    経費を最小限に抑えることができます。
          .ggmap
            %iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.9384484978505!2d135.49996501521716!3d34.70673239040279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e69402e78b85%3A0x6d96eff1253f9361!2z44CSNTMwLTAwMTUg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65Lit5bSO6KW_77yS5LiB55uu77yU4oiS77yU77yT!5e0!3m2!1sja!2sjp!4v1537337817052" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen)
            %span ※ここに表示されているデータは、全データの20%ほどです
      .professional.traveler_skill
        .inner
          %h2
            様々なスキルを持った旅人に
            %br
              シゴトを依頼することができます
          .skill
            .traveler_contents.writer(style="display: block;")
              #traveler_slider
                .profile_traveler
                  %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/contents_lp/yukiko_katou.png?201804151723" alt="旅人サムネイル1")
                  %p.txt_03
                    女性向けメディアの立ち上げに関わり、一年足らずで月間1000万pvを達成。
                    %br.pc
                      そのほかにも月間100万UU規模のメディアを複数担当している。
                  %ul
                    %li
                      = fa_icon "check-square"
                      有名メディアで執筆実績あり
                    %li
                      = fa_icon "check-square"
                      メディア編集長経験あり
                    %li
                      = fa_icon "check-square"
                      担当メディア1000万PV
                .profile_traveler
                  %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/contents_lp/norio_nakayama.png?201804151723" alt="旅人サムネイル2")
                  %p.txt_03
                    学生時代よりライター、フォトグラファーとして活動。
                    %br.pc
                      数十万PVのブログを運営しつつ、トラベルメディアの編集長も務める。
                  %ul
                    %li
                      = fa_icon "check-square"
                      ブログ30万PV以上
                    %li
                      = fa_icon "check-square"
                      有名メディアで執筆実績あり
                    %li
                      = fa_icon "check-square"
                      メディア編集長経験あり
                .profile_traveler
                  %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/contents_lp/hideo_ishihara.png?201804151723" alt="旅人サムネイル3")
                  %p.txt_03
                    ファッション誌、WEBマガジン編集長を経験したのち企画会社を創業。新聞などに連載を持ちながら世界一周を行い書籍の執筆なども手がける。
                  %ul
                    %li
                      = fa_icon "check-square"
                      有名メディアで執筆実績あり
                    %li
                      = fa_icon "check-square"
                      メディア編集長経験あり
                    %li
                      = fa_icon "check-square"
                      書籍執筆経験あり
          %a.btn
            無料で詳しいプロフィールを見る
      %section.sec-07
        .inner
          %h2 200以上の企業、自治体様にご利用いただいています。
          %ul.list-client-01
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/10.png?201809141247" alt="じゃらん")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/02.png?201809141247" alt="asoview")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/03.png?201809141247" alt="東京通信社")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/04.png?201809141247" alt="ことりっぷ")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/05.png?201809141247" alt="予約ラボ")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/06.png?201809141247" alt="KaikeiZine")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/07.png?201809141247" alt="HIS")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/08.png?201809141247" alt="オーストラリア")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/09.png?201809141247" alt="クイーンズランド")
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/new/01.png?201809141247" alt="THE BRIDGE")
          %h3.pc 利用した96%の企業様が、目当ての旅人とマッチング!
          %a.pc.btn
            今すぐ無料相談
      .sec-06
        .inner
          %h2
            日本全国・世界各国
            %br
              移動が必要な仕事ならSAGOJOへ!
          %ul
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_contents.svg?201809141247")
              .right
                %h3 記事制作・写真撮影
                %p 旅人しか知らないローカルスポット、現地の文化のリアルな姿、世界でただ一つのコンテンツをご提供します。
                %a.btn.detail_for
                  詳細はこちら
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_instagram.svg?201809141247")
              .right
                %h3 SNSプロモーション
                %p 旅人インスタグラマーが世界中の風景と組み合わせてあなたの商品のプロモーションを行います。
                %a.btn.detail_for
                  詳細はこちら
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_movie.svg?201809141247")
              .right
                %h3 動画制作
                %p テレビ局出身の動画クリエイター、Youtuberなど多数のプロフェッショナルが、圧倒的に高品質な動画を制作いたします。
                %a.btn
                  今すぐ無料相談
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_promotion.svg?201809141247")
              .right
                %h3 地域プロモーション
                %p 在住者ではなく、旅人特有のソトモノ目線を活かしたモニター、プロモーションを行います。
                %a.btn
                  今すぐ無料相談
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_research.svg?201809141247")
              .right
                %h3 調査・情報収集
                %p 様々な地域の飲食店や施設、人々の動向などローカルな情報を旅人が足を使って調査いたします。
                %a.btn
                  今すぐ無料相談
            %li
              %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/business/business_sales.svg?201809141247")
              .right
                %h3 営業代行
                %p 様々な商品を、旅人が足を使って日本各地、世界各国へ売り込みます。
                %a.btn
                  今すぐ無料相談
.sub-contents-aside
  = render partial: "./tops/sub-contents-aside"
.footer
  .footer-inner
    = render partial: "./tops/footer"
    = render partial: "./tops/copyright"
