.slick-track
  %ul.slick
    - @slides.each do |slide|
      %li.slick-image
        .image-container.mx-5
          =image_tag slide.image.to_s, class: 'img-fluid'
        .limit-time
          =fa_icon 'comment'
          .box
            %span.until あと
            %span.number
              = @days_left
            %span.days 日
        .catchcopy
          .company
            %p 楽天株式会社
          .copy
            %h3
              = slide.title
          .return
            %span.fa-stack.fa-lg
              =fa_icon 'circle-thin stack-1x'
              =fa_icon 'jpy stack-1x'
            - if slide.under.present?
              %span.detail ¥
              %span.price.under
                = slide.under
            - if slide.under.present? && slide.upper.present?
              %span.detail ~
            - if slide.upper.present?
              %span.detail ¥
              %span.price.upper
                = slide.upper
            - if slide.detail.present?
              %span.detail
                = slide.detail
          %ul.tag-list
            %li.tag
              %i.fa.fa-tag
              取材あり
            %li.tag
              %i.fa.fa-tag
              東京
            %li.tag
              %i.fa.fa-tag
              ライター
          .job-link
            = link_to "シゴト詳細へ", "/works/#{slide.id}"
