.slick-track
  %ul.slick
    - @slides.each do |work|
      %li.slick-image
        .image-container.mx-5
          =image_tag work.image.to_s, class: 'img-fluid'
        .limit-time
          =fa_icon 'comment'
          .box
            %span.until あと
            %span.number
              = Work.days_left(work)
            %span.days 日
        .catchcopy
          .company
            %p
              = work.company.company_name
          .copy
            %h3
              = work.title
          .return
            %span.fa-stack.fa-lg
              =fa_icon 'circle-thin stack-1x'
              =fa_icon 'jpy stack-1x'
            - if work.under.present?
              %span.detail ¥
              %span.price.under
                = work.under
            - if work.under.present? && work.upper.present?
              %span.detail ~
            - if work.upper.present?
              %span.detail ¥
              %span.price.upper
                = work.upper
            - if work.detail.present?
              %span.detail
                = work.condition
          %ul.tag-list
            %li.tag
              %i.fa.fa-tag
              取材あり
            %li.tag
              %i.fa.fa-tag
              東京
            %li.tag
              %i.fa.fa-tag
              ライター
          .job-link
            = link_to "シゴト詳細へ", "/works/#{work.id}"
