%p.footer-lead-01
  Travelers make the world GOKIGEN.
.footer-col-wrap-01
  .footer-col
    %ul.footer-list-col-01
      %li
        主な機能
        %ul
          %li
            = link_to "ホーム", root_path
          %li
            = link_to "シゴト", works_path
          %li
            = link_to "ログイン", new_user_session_path
          %li
            = link_to "旅人登録", new_user_registration_path
      %li.about-sagojo-list
        SAGOJOについて
        %ul
          %li
            = link_to "FAQ", faqs_path
          %li
            = link_to "企業の方はこちら", businesses_path
  .footer-col.footer-form-opinion-01
    %p SAGOJOについてご意見をお聞かせください
    %form(action="#")
      %input(type="text" id="job-type" class="textbox-02 type-03 footermail" placeholder="メールアドレスを入力してください" name="email")
      %textarea(name="opinion")
      %input(type="submit" value="SAGOJOに意見を送信する" class="submit-opinion")
