#main.left
  .inner
    %h2.top-hdg-02
      新着のシゴト
    - (1..4).each do |n|
      = render partial: "./tops/jobs"
    %p
      %a.btn.type-06(href="#")
        もっと見る
#side.right
  %a.topbanner(href="#")
    %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/top_baner03.jpg")
  %h3.top-hdg-02
    = "新着 すごい旅研究所の記事"
  - (1..3).each do |n|
    = render partial: "./tops/columns"
  %h3.top-hdg-02
    = "注目 すごい旅研究所の記事"
  - (1..3).each do |n|
    = render partial: "./tops/columns"
  %p
    %a.btn.type-06(href="#")
      もっと見る
  .side-sns-01
    %p.message-01
      %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/logo.svg" alt="SAGOJO")
      = "をフォローする"
    %ul.side-sns-list
      %li
        %a.btn.facebook-01.w-100(href="https://www.facebook.com/sagojo.travel/?ref=aymt_homepage_panel" target="_blank")
          %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/icon-fb.svg" alt="facebook")
          = "フォローする"
      %li
        %a.btn.twitter-01.w-100(href="https://twitter.com/sagojo_travel" target="_blank")
          %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tw-02.svg" alt="twitter")
          = "フォローする"
    %p.message-02
      フォローして新着のシゴト情報をゲット!
