.wrapper
  .header
    = render partial: "./tops/header"
  .appeal
    = render partial: "./tops/appeal"
  .main-contents.clearfix
    = render partial: "./tops/main-contents"
  .sub-contents-list
    = render partial: "./tops/sub-contents-list"
  .sub-contents-aside
    = render partial: "./tops/sub-contents-aside"
  .footer
    .footer-inner
      = render partial: "./tops/footer"
      = render partial: "./tops/earth"
      = render partial: "./tops/copyright"
%script{src:  "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js", type: "text/javascript"}
