.wrapper
  .header
    = render partial: "./tops/header"
  .appeal
    = render partial: "./tops/appeal"
  .main-contents
    = render partial: "./tops/contents"
  .sub-contents-list
    = render partial: "./tops/sub-contents-list"
  .sub-contents-aside
    = render partial: "./tops/sub-contents-aside"
  .footer
    = render partial: "./tops/footer"
