.wrapper
  .header
    = render partial: "./tops/header"
  .appeal
    = render partial: "./tops/appeal"
  .main-contents
    = render partial: "./tops/contents"
  .sub-contents
    = render partial: "./tops/sub-contents"
  .footer
    = render partial: "./tops/footer"
