#wrap
  .main-content01
    #main
      .inner
        .content-only-main-01
          .img-prof
            %img.img{alt: "", src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-sagojokun-01.svg"}
          %h1.hi
            旅人アカウントでログイン
          %div#form-signup.form-signup-01
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .email_field
              = f.email_field :email ,id: "sagojo_backendbundle_user_signup_email", class: "validate[required,custom[email]].textbox-01.w-100.text-input", placeholder: "メールアドレス", required:"required"
            .password_fild
              = f.password_field :password, autocomplete: "off", id: "sagojo_backendbundle_user_signup_password", class: "validate[required,minSize[6],maxSize[50]].passwordbox-01.w-100.text-input", placeholder: "パスワード",required: "required"
            .fubmit_actions
              = f.submit "ログイン", class: "btn w-100 g-mb0 after_gps"
        .content-only-sub-01
          .wrap-col_col2
            / .left
            /   %p
            /     パスワードを忘れた方は
            /     %a{:href => "/user/password_reset/new"}> こちら
            /     から
            .right
              %p
                登録しましたか？
                = link_to "企業登録", new_company_registration_path, method: :get
          %p.copyright02{lang: "en"}© SAGOJO.
